#divPontuacao {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  background-color: white;
  z-index: 100;
  position: absolute;
  top: 20px;
  right: 20px;
  border-color: black;
  border-width: 3px;
}

#textPontuacao {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-weight: bold;
}
