/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  height: 100%;
  font-family: 'Lato', sans-serif;
  overflow-y: hidden;
}

.routerContainer {
  padding-left: 350px;
  height: 100%;
}

.routerTitle {
  text-align: center;
  margin-top: 50px;
  font-size: 40px;
  font-weight: bold;
}
